*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100vw;
    height: auto !important;
}

header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: black;
}

article{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lOGO{
    font-size: 25px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

nav{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
}

nav > ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul > li {
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: grey;
    cursor: pointer;
    padding: 7px;
    transition: all 350ms ease-in;
}

nav > ul > li:hover {
    color: white;
    border-bottom: 2px solid white;
    transform: scale(1);
}

section{
    width: 100%;
    height: 87vh;
    background: linear-gradient(rgba(0, 0, 0, 0.701), rgba(0, 0, 0, 0.701)), url(/earth.jpg);
    display: flex;
}

.sectionLeft{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.sectionLeft-top{
    width: 100%;
    height: 16%;
    display: flex;
    align-items: center;
    padding-inline: 10%;
}
.sectionLeft-top > h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;
    font-weight: 500;
    color: rgba(48, 46, 46, 0.916);
}
.line{
    width: 3px;
    height: 100%;
    background-color: rgba(48, 48, 220, 0.69);
    margin: 0px 10px;
}
.sectionLeft-top > h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    font-weight: 500;
    width: 50%;
    color: white;
    line-height: 50px;
}
.sectionLeft-top > h2 > span{
    color: rgba(31, 31, 234, 0.719);
}
.sectionLeft > p{
    padding-inline: 10%;
    font-size: 13px;
    color: lightgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
}
.btncontainer{
    width: 50%;
    margin-left: 10%;
    margin-top: 5%;
    height: 60px;
    display: flex;
    align-items: center;
}
button{
    width: 150px;
    height: 40px;
    margin: 0px 10px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 350ms ease-in;
}
.btn2{
    border: 2px solid rgba(31, 31, 234, 0.719);
    background-color: transparent;
}

.sectionRight{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.sectionRight > img{
    width: 100%;
    height: 100%;
}

button:hover{
    transform: scale(1.1);
    border: 2px solid rgba(31, 31, 234, 0.719);
    background-color: transparent;
}
.btn2:hover{
    transform: scale(1.1);
    background-color: blue;
    border: none;
}